{% extends "post_generator/base.html" %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block title %}Post Content Management{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui.combobox.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/multiple-select.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.timepicker.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dropzone.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/post_manage.css" />
{% endblock css %}

{% block content %}
<form id="post-form" method="post" action="">
{% csrf_token %}

{{ image_fs.management_form }}
{{ video_fs.management_form }}
{{ text_block_fs.management_form }}
{{ ingredient_block_fs.management_form }}
{{ direction_block_fs.management_form }}
<input id="dict_len" style="display:none" value="{{ num_dict_items }}" type="hidden" />

<div id="dict_modal"></div>

<button class="btn-submit-form submit-form-upper">Submit Changes</button>
<div id="post-general">
  <h2>General Post Information</h2>
  {{ form.non_field_errors }}
  <table id="table-post-form">
    <tr>
      <td rowspan="4" width="220" style="padding-left: 20px;">
        <span>Featured Image Preview:</span><br>
        <img id="{{ form.featured_image.auto_id }}_preview" class="img-preview{% if not form.featured_image.value %} hidden{% endif %}"{% if form.featured_image.value %}  width="200" height="132" src="{{ form.featured_image.value }}"{% endif %} />
        <button class="delete-image{% if not form.featured_image.value %} hidden{% endif %}">Re-upload</button>
        <div class="img-upload dropzone{% if form.featured_image.value %} hidden{% endif %}" data-target="featured-image">
          <div class="dz-default dz-message">
            <span>Drop Files Here<br />(or Click)<br />to Upload</span>
          </div>
        </div>
      </td>
      <td width="350">Post Title: {{ form.title|add_class:"dict-General" }}{{ form.title.errors }} <button name="{{ form.title.html_name }}button" class="add-item" data-type=".dict-General" data-target="#{{ form.title.auto_id }}">+</button></td>
      <td>{{ form.include_somali }} Include Somali Tab</td>
    </tr>
    <tr>
      <td>Post URL: {{ form.link|add_class:"text-input post-url" }} <button id="generate-post-link">New</button>{{ form.link.errors }}</td>
      <td>{{ form.include_french }} Include French Tab</td>
    </tr>
    <tr>
      <td>Publication Date: {{ form.pub_date|add_class:"text-input date" }}{{ form.pub_date.errors }}</td>
      <td>{{ form.include_arabic }} Include Arabic Tab</td>
    </tr>
    <tr>
      <td>Featured Image: {{ form.featured_image|add_class:"text-input url image-url" }}{{ form.featured_image.errors }}</td>
      <td>Featured Image WP ID: {{ form.featured_image_id|add_class:"text-input" }}{{ form.featured_image_id.errors }}</td>
    </tr>
  </table>
  {% if form.initial.id %}
  <button style="float: right;" id="post-preview"><a href="{% url 'post_generator:post_view' form.initial.id %}">Back to Post Preview</a></button></td>
  {% endif %}
</div>

<div id="pre-tab">
  <h2>Pre-Tab Content</h2>
  <ol id="pretab-list" class="block-list">
  {% include "post_generator/block_form.html" with form_list=pretab_forms %}
  </ol>
</div>

<div id="tabbed">
  <button class="expand-all-btn">Expand All</button>
  <button class="collapse-all-btn">Collapse All</button>
  <h2>Tabbed Content</h2>
  <ol id="tabbed-list" class="block-list">
  {% include "post_generator/block_form.html" with form_list=tabbed_forms %}
  </ol>
  <table class="add-block-buttons">
    <tr>
      <td><button class="btn-add-block-row" value="images">Add Image</button></td>
      <td><button class="btn-add-block-row" value="videos">Add Video</button></td>
      <td><button class="btn-add-block-row" value="textblocks">Add Text/Paragraph</button></td>
      <td><button class="btn-add-block-row" value="headers">Add Header</button></td>
      <td><button class="btn-add-inlineblock-row" value="ingredientblocks">Add Ingredient Set</button></td>
      <td><button class="btn-add-inlineblock-row" value="directionblocks">Add Direction Set</button></td>
    </tr>
  </table>
</div>

<div id="templates" style="display:none">
  <h2>Block Templates</h2>
  <ol id="template-list">
  {% include "post_generator/block_form.html" with form_list=template_forms template=1 %}
  </ol>
</div>

<div id="deleted" style="display:none">
  <h2>Deleted Blocks</h2>
  <ol id="deleted-list">
  {% include "post_generator/block_form.html" with form_list=deleted_forms %}
  </ol>
</div>

<button class="btn-submit-form submit-form-bottom">Submit Changes</button>
</form>
<div id="keyboards" class="hidden">
<div id="arabic-keyboard" title="Arabic Keyboard">
  <table>
    <tr>
      <td><button class="btn-add-arabic" value="&#x651;"><img src="{{ STATIC_URL }}img/shadda.png"></button></td>
      <td><button class="btn-add-arabic" value="&#x652;"><img src="{{ STATIC_URL }}img/sukun.png"></button></td>
      <td>&nbsp;</td>
      <td><button class="btn-add-arabic">ذ</button></td>
      <td><button class="btn-add-arabic">١</button></td>
      <td><button class="btn-add-arabic">٢</button></td>
      <td><button class="btn-add-arabic">٣</button></td>
      <td><button class="btn-add-arabic">٤</button></td>
      <td><button class="btn-add-arabic">٥</button></td>
      <td><button class="btn-add-arabic">٦</button></td>
      <td><button class="btn-add-arabic">٧</button></td>
      <td><button class="btn-add-arabic">٨</button></td>
      <td><button class="btn-add-arabic">٩</button></td>
      <td><button class="btn-add-arabic">٠</button></td>
    </tr>
    <tr>
      <td><button class="btn-add-arabic" value="&#x64d;"><img src="{{ STATIC_URL }}img/kasratan.png"></button></td>
      <td><button class="btn-add-arabic" value="&#x650;"><img src="{{ STATIC_URL }}img/kasra.png"></button></td>
      <td>&nbsp;</td>
      <td><button class="btn-add-arabic">ض</button></td>
      <td><button class="btn-add-arabic">ص</button></td>
      <td><button class="btn-add-arabic">ث</button></td>
      <td><button class="btn-add-arabic">ق</button></td>
      <td><button class="btn-add-arabic">ف</button></td>
      <td><button class="btn-add-arabic">غ</button></td>
      <td><button class="btn-add-arabic">ع</button></td>
      <td><button class="btn-add-arabic">ه</button></td>
      <td><button class="btn-add-arabic">خ</button></td>
      <td><button class="btn-add-arabic">ح</button></td>
      <td><button class="btn-add-arabic">ج</button></td>
      <td><button class="btn-add-arabic">د</button></td>
    </tr>
    <tr>
      <td><button class="btn-add-arabic" value="&#x64c;"><img src="{{ STATIC_URL }}img/dammatan.png"></button></td>
      <td><button class="btn-add-arabic" value="&#x64f;"><img src="{{ STATIC_URL }}img/damma.png"></button></td>
      <td>&nbsp;</td>
      <td><button class="btn-add-arabic">ش</button></td>
      <td><button class="btn-add-arabic">س</button></td>
      <td><button class="btn-add-arabic">ي</button></td>
      <td><button class="btn-add-arabic">ب</button></td>
      <td><button class="btn-add-arabic">ل</button></td>
      <td><button class="btn-add-arabic">ا</button></td>
      <td><button class="btn-add-arabic">ت</button></td>
      <td><button class="btn-add-arabic">ن</button></td>
      <td><button class="btn-add-arabic">م</button></td>
      <td><button class="btn-add-arabic">ك</button></td>
      <td><button class="btn-add-arabic">ط</button></td>
    </tr>
    <tr>
      <td><button class="btn-add-arabic" value="&#x64b;"><img src="{{ STATIC_URL }}img/fathatan.png"></button></td>
      <td><button class="btn-add-arabic" value="&#x64e;"><img src="{{ STATIC_URL }}img/fatha.png"></button></td>
      <td>&nbsp;</td>
      <td><button class="btn-add-arabic">ئ</button></td>
      <td><button class="btn-add-arabic">ء</button></td>
      <td><button class="btn-add-arabic">ؤ</button></td>
      <td><button class="btn-add-arabic">ر</button></td>
      <td><button class="btn-add-arabic">ﻻ</button></td>
      <td><button class="btn-add-arabic">ى</button></td>
      <td><button class="btn-add-arabic">ة</button></td>
      <td><button class="btn-add-arabic">و</button></td>
      <td><button class="btn-add-arabic">ز</button></td>
      <td><button class="btn-add-arabic">ظ</button></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><button class="btn-add-arabic">لآ</button></td>
      <td><button class="btn-add-arabic">آ</button></td>
      <td><button class="btn-add-arabic">,</button></td>
      <td><button class="btn-add-arabic">.</button></td>
      <td><button class="btn-add-arabic">؟</button></td>
      <td><button class="btn-add-arabic">لأ</button></td>
      <td><button class="btn-add-arabic">أ</button></td>
      <td><button class="btn-add-arabic">-</button></td>
      <td><button class="btn-add-arabic">،</button></td>
      <td><button class="btn-add-arabic">إ</button></td>
      <td><button class="btn-add-arabic">;</button></td>
      <td><button class="btn-add-arabic">ـ</button></td>
    </tr>
  </table>
</div>
<div id="frac-keyboard" title="Fraction Keyboard">
  <table>
    <tr>
      <td><button class="btn-add-frac">½</button></td>
      <td><button class="btn-add-frac">⅓</button></td>
      <td><button class="btn-add-frac">¼</button></td>
      <td><button class="btn-add-frac">⅕</button></td>
      <td><button class="btn-add-frac">⅙</button></td>
      <td><button class="btn-add-frac">⅛</button></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn-add-frac">⅔</button></td>
      <td><button class="btn-add-frac">¾</button></td>
      <td><button class="btn-add-frac">⅖</button></td>
      <td><button class="btn-add-frac">⅚</button></td>
      <td><button class="btn-add-frac">⅜</button></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn-add-frac">⅗</button></td>
      <td></td>
      <td><button class="btn-add-frac">⅝</button></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn-add-frac">⅘</button></td>
      <td></td>
      <td><button class="btn-add-frac">⅞</button></td>
    </tr>
  </table>
</div>
<div id="symbol-keyboard" title="Symbol Keyboard">
  <table>
    <tr>
      <td><button class="btn-add-symbol">½</button></td>
      <td><button class="btn-add-symbol">⅓</button></td>
      <td><button class="btn-add-symbol">¼</button></td>
      <td><button class="btn-add-symbol">⅕</button></td>
      <td><button class="btn-add-symbol">⅙</button></td>
      <td><button class="btn-add-symbol">⅛</button></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn-add-symbol">⅔</button></td>
      <td><button class="btn-add-symbol">¾</button></td>
      <td><button class="btn-add-symbol">⅖</button></td>
      <td><button class="btn-add-symbol">⅚</button></td>
      <td><button class="btn-add-symbol">⅜</button></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn-add-symbol">⅗</button></td>
      <td></td>
      <td><button class="btn-add-symbol">⅝</button></td>
    </tr>
    <tr>
      <td><button class="btn-add-symbol">°</button></td>
      <td></td>
      <td></td>
      <td><button class="btn-add-symbol">⅘</button></td>
      <td></td>
      <td><button class="btn-add-symbol">⅞</button></td>
    </tr>
    <tr>
      <td colspan="6">
        <input id="text-symbol-keyboard" type="text"/>
        <button id="btn-select-symbol">Select</button>
      </td>
    </tr>
  </table>
</div>
</div>
{% endblock content %}

{% block javascript_library %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.ui.combobox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.multiple.select.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui.timepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/dropzone.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/wz_tooltip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dynamic-forms.js"></script>
{% endblock javascript_library %}

{% block javascript %}
  <script>
  (function ($, undefined) {
      $.fn.getCursorPosition = function () {
          var el = $(this).get(0);
          var pos = 0;
          if ('selectionStart' in el) {
              pos = el.selectionStart;
          } else if ('selection' in document) {
              el.focus();
              var Sel = document.selection.createRange();
              var SelLength = document.selection.createRange().text.length;
              Sel.moveStart('character', -el.value.length);
              pos = Sel.text.length - SelLength;
          }
          return pos;
      }
  })(jQuery);

  $(function() {
    // jQuery UI elements initialized
    //   - tabs for languages, buttons, comboboxes, dialogs, & datetimepicker
    $( ".tabs" ).tabs();
    $( ":button" ).button();
    $( ".date" ).datetimepicker({
      showAnim:'slide',
      showButtonPanel: true,
      dateFormat: 'yy-mm-dd',
      timeFormat: 'HH:mm:ss'
    });
    function checkIntl(el){
      if(el.val() || el.parents('table').find('.intl-units').val()){
        el.addClass("input-error");
      }
    }
    $( "select:not(select[multiple=multiple])" ).each(function(){
      $(this).html($(this).html().replace("---------", ""));
    });
    $( "select:not(select[multiple=multiple])" ).combobox({
      change: function(){
        var intl = $(this).parents('table').find('.intl-quant');
        checkIntl(intl);
      }
    });
    $( "select[multiple=multiple]:not(:hidden)" ).multipleSelect({
      filter: true,
      width: '88%'
    });

    $( "#dict_modal" ).dialog({
      autoOpen: false,
      width: 500,
      height: 500,
      modal: true,
    });
    $( "#arabic-keyboard" ).dialog({
      autoOpen: false,
      modal: false,
      width: 540,
    });
    $( "#frac-keyboard" ).dialog({
      autoOpen: false,
      modal: false,
    });
    $( "#symbol-keyboard" ).dialog({
      autoOpen: false,
      modal: false,
    });

    $('#post-preview').click(function(e){e.preventDefault;});
    function updateLoc(){
      $('.block-list').children().each(function(){
        var tab = $(this).find('.tab-field');
        var loc = $(this).find('.loc-field');
        if(tab.parents('#tabbed-list').length){
          tab.prop("checked", true);
        } else if(tab.parents('#pretab-list').length){
          tab.prop("checked", false);
        }
        loc.val($(this).index());
      });
    }
    $('.accordion-handle').disableSelection();
    $( "#tabbed-list" ).sortable({
      connectWith:'.block-list',
      handle: 'div.accordion-handle',
      distance: 15,
      stop: function(event, ui) {
        updateLoc();
      }
    });
    $( "#pretab-list" ).sortable({
      connectWith:'.block-list',
      handle: 'div.accordion-handle',
      distance: 15,
      stop: function(event, ui) {
        updateLoc();
      }
    });
    function moveUp(item) {
        var prev = item.prev();
        if (prev.length == 0)
            return;
        prev.css('z-index', 999).css('position','relative').animate({ top: item.height() }, 250);
        item.css('z-index', 1000).css('position', 'relative').animate({ top: '-' + prev.height() }, 300, function () {
            prev.css('z-index', '').css('top', '').css('position', '');
            item.css('z-index', '').css('top', '').css('position', '');
            item.insertBefore(prev);
            updateLoc();
        });
    }
    function moveDown(item) {
        var next = item.next();
        if (next.length == 0)
            return;
        next.css('z-index', 999).css('position', 'relative').animate({ top: '-' + item.height() }, 250);
        item.css('z-index', 1000).css('position', 'relative').animate({ top: next.height() }, 300, function () {
            next.css('z-index', '').css('top', '').css('position', '');
            item.css('z-index', '').css('top', '').css('position', '');
            item.insertAfter(next);
            updateLoc();
        });
    }
    $('.block-move-btn').click(function(e){
      e.preventDefault();
      if($(this).val() == 'up'){
        moveUp($(this).parents('li.block-row'));
      } else {
        moveDown($(this).parents('li.block-row'));
      }
    }); 

    $('.delete-block-btn').click(function(e){
      e.preventDefault();
      var blockRow = $(this).parent().parent();
      if($(this).val() == 'nested'){
        blockRow.find('.delete-nested').prop('checked', true);
      } else {
        blockRow.find('.delete-block').prop('checked', true);
      }
      blockRow.appendTo($('#deleted-list'));
      updateLoc();
    });
    
    $('.accordion-toggle-btn').click(function(ev){
      ev.preventDefault();
      var content = $(this).parent().next();
      content.toggle();
      if(content.is(':hidden')){
        $(this).button("option", "label", "+");
      } else {
        $(this).button("option", "label", "—");
      }
    });
    
    $('.collapse-all-btn').click(function(ev){
      ev.preventDefault();
      $('.accordion-content:visible').toggle();
      $('.accordion-toggle-btn').each(function(){
        $(this).button("option", "label", "+");
      });
    });
   
    $('.expand-all-btn').click(function(ev){
      ev.preventDefault();
      $('.accordion-content:not(:visible)').toggle();
      $('.accordion-toggle-btn').each(function(){
        $(this).button("option", "label", "—");
      });
    });
 
    Dropzone.autoDiscover = false;
    $('.img-upload').dropzone({
      url: "{% url 'post_generator:wp_upload' %}",
      success: function(file, response){
        var target = $(this.element).attr('data-target');
        if(target == 'featured-image'){
          $('#{{ form.featured_image.auto_id }}').val(response.link);
          $('#{{ form.featured_image_id.auto_id }}').val(response.id);
          $('#{{ form.featured_image.auto_id }}_preview').attr({'src':response.link}).removeClass('hidden').next().removeClass('hidden');
          $(this.element).addClass('hidden');
        } else {
          $(target + 'wordpress_image_id').val(response.id);
          $(target + 'link').val(response.link);
          $(target + 'width').val(response.width);
          $(target + 'height').val(response.height);
          $(target + 'img').attr({
            'src': response.link,
            'width': response.width/4,
            'height': response.height/4,
          }).removeClass('hidden');
          $(this.element).addClass('hidden');
        }
      },
    });

    $('.delete-image').click(function(ev){
      ev.preventDefault();
      $(this).prev().addClass('hidden');
      $(this).addClass('hidden');
      $(this).next().removeClass('hidden');
    });

    $('.title-caption').click(function(ev){
      ev.preventDefault();
      var titleId = $('#id_title').combobox("value");
      var blockRow = $(this).parents('li.block-row');
      $.ajax({
        type: "POST",
        url: "{% url 'post_generator:dictionary_item_object' %}",
        data: {'item_id': titleId},
        success: function(data){
          blockRow.find('.caption.english').val(data.english);
          blockRow.find('.caption.somali').val(data.somali);
          blockRow.find('.caption.french').val(data.french_masculine);
          blockRow.find('.caption.arabic').val(data.arabic);
        },
      });
    });

    $( '.video-url' ).change(function(){
      var preview = $(this).parents('tr').find('.video-preview')
      $(preview).attr('src', $(this).val());
    });

    $(document).bind('drop dragover', function (e) {
        e.preventDefault();
    });

    $('#generate-post-link').click(function(e){
      var newPostBtn = $(this);
      newPostBtn.button( "option", "label", "Loading..." );
      e.preventDefault();
      $.get("{% url 'post_generator:wp_new' %}", function(data){
           $('#id_link').val(data.link);
           newPostBtn.button( "option", "label", "New" );
      });
      return false; 
    });

    $('#dict_modal').on('submit', '.item-form', function () {
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function() {
                var type = $('#dict_modal').attr('data-type');
                var target = $('#dict_modal').attr('data-target');
                var eng = $('#id_english').val();
                var len = parseInt($('#dict_len').val()) + 1;
                $('#dict_len').val(len);
                $(type).append('<option value="' + len + '">' + eng + '</option>');
                if($(target).data('uiCombobox')){
                  $(target).combobox("value", len);
                } else if ($(target).data('multipleSelect')){
                  $(target).children('option:last').prop("selected", true);
                  $(target).multipleSelect('refresh');
                } else {
                  $(target).val(len);
                }
                $('#dict_modal').dialog('close');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                $('#DictItemError').append(xhr);
            }
        });
        return false; 
    });
 
    $( ".add-item" ).click(function(e){
        e.preventDefault();
        var url = "{% url 'post_generator:dictionary_item_new_embed' %}";
        var type = $(this).attr('data-type');
        var target = $(this).attr('data-target');
        $('#dict_modal').load(url,function(){
            $(this).attr({'data-type':type});
            $(this).attr({'data-target':target});
            var item_set = type.split('-')[1];
            $( '#id__set' ).val(item_set);
            if($(target).hasClass('dict-prep')){
              $( '#id_word_type' ).val('Adj.');
            }
            $(this).dialog('open');
            $( '#id_arabic' ).click(function(){
              var target = '#' + $(this).attr('id');
              $( '#arabic-keyboard' ).attr({'data-target':target});
              if($( '#arabic-keyboard' ).data('uiDialog')){
                $( '#arabic-keyboard' ).dialog('destroy');
              }
              $( '#arabic-keyboard' ).dialog({
                width: 540,
                position: {
                  my: 'right top',
                  at: 'right bottom',
                  of: $(this)
                },
              });
              $(this).focus();
            });
        });
        return false;
    });

    $( ':input.arabic' ).click(function(){
      var target = '#' + $(this).attr('id');
      $( '#arabic-keyboard' ).dialog('open');
      $( '#arabic-keyboard' ).dialog({
        position: {
          my: 'right top',
          at: 'right bottom',
          of: $(this)
        }
      });
      $( '#arabic-keyboard' ).attr({'data-target':target});
      $(this).focus();
    });

    $( '.frac-input' ).click(function(){
      var target = '#' + $(this).attr('id');
      $( '#frac-keyboard' ).dialog('open');
      $( '#frac-keyboard' ).attr({'data-target':target});
      $( '#frac-keyboard' ).dialog({
        position: {
          my: 'left top',
          at: 'left bottom',
          of: $(this)
        }
      });
      $(this).focus();
    });

    $( '.btn-symbol-keyboard' ).click(function(e){
      e.preventDefault();
      $( '#symbol-keyboard' ).dialog('open');
      $( '#symbol-keyboard' ).dialog({
        position: {
          my: 'right top',
          at: 'right bottom',
          of: $(this)
        }
      });
      $(this).focus();    
    });

    $( ".btn-add-arabic" ).click(function(ev){
      ev.preventDefault();
      var target = $( '#arabic-keyboard' ).attr('data-target');
      var initial = $( target ).val();
      var insert = $(this).val() || $(this).text();
      var cursor = $( target ).getCursorPosition();
      var result = initial.substr(0, cursor) + insert + initial.substr(cursor);
      $( target ).val(result);
      $( target ).focus();
    });

    $( ".btn-add-frac" ).click(function(ev){
      ev.preventDefault();
      var target = $( '#frac-keyboard' ).attr('data-target');
      var initial = $( target ).val();
      var insert = $(this).text();
      var cursor = $( target ).getCursorPosition();
      var result = initial.substr(0, cursor) + insert + initial.substr(cursor);
      $( target ).val(result);
      var intl = $(this).parents('table').find('.intl-quant');
      checkIntl(intl);
      $( target ).focus();
      $('#frac-keyboard').dialog('close');
    });

    $( ".btn-add-symbol" ).click(function(ev){
      ev.preventDefault();
      var target = '#text-symbol-keyboard';
      var initial = $( target ).val();
      var insert = $(this).text();
      var cursor = $( target ).getCursorPosition();
      var result = initial.substr(0, cursor) + insert + initial.substr(cursor);
      $( target ).val(result);
      $( target ).focus();
    });

    $( "#btn-select-symbol" ).click(function(ev){
      ev.preventDefault();
      $( '#text-symbol-keyboard' ).select();
    });

    $('html').click(function(e){
      if(!$(e.target).is('.ui-dialog, a') && !$(e.target).closest('.ui-dialog').length){
        if(!$(e.target).is('.arabic') && $('#arabic-keyboard').dialog('isOpen')){
          $('#arabic-keyboard').dialog('close');
        }
        if(!$(e.target).is('.frac-input') && $('#frac-keyboard').dialog('isOpen')){
          $('#frac-keyboard').dialog('close');
        }
        if(!$(e.target).parent().is('button.btn-symbol-keyboard') && $('#symbol-keyboard').dialog('isOpen')){
          $('#symbol-keyboard').dialog('close');
          $('#text-symbol-keyboard').val('');
        }

        if($(e.target).is(':input')){
          $(e.target).focus();
        }
      }
    });

    $('.lookup-intl').click(function(ev){
      ev.preventDefault();
      var lookup_button = $(this);
      lookup_button.button( "option", "label", "Loading..." );
      var request_data = {};
      var target = $(this).attr('data-target');
      request_data['name'] = $( target + 'name' ).combobox('value');
      request_data['size'] = $( target + 'size' ).combobox('value');
      request_data['quantity'] = $( target + 'quantity' ).val();
      request_data['quantity_units'] = $( target + 'quantity_units' ).combobox('value');
      request_data['intl_units'] = $( target + 'intl_units' ).combobox('value');
      request_data['styles'] = $( target + 'prep_style' ).val();
      $.ajax({
        type: "POST",
        url: "{% url 'post_generator:intl_lookup' %}",
        data: request_data,
        success: function(data){
          lookup_button.button( "option", "label", "Lookup" );
          $( target + 'intl' ).val(data['intl']);
          $( target + 'intl' ).removeClass('input-error');
        }
      });
    });

    $('.calc-intl').change(function(){
      var intl = $(this).parents('table').find('.intl-quant');
      checkIntl(intl);
    });
    $('.intl-quant').change(function(){
      if($(this).hasClass('input-error')){
        $(this).removeClass('input-error');
      }
    });
    $('.spell').each(function(){
      $(this).attr('spellcheck', 'true');
    });

    $( '.btn-add-block-row' ).click(function(e){
      e.preventDefault();
      var target = '#tabbed-list';
      addForm($(this).val(), target, false);
    });
    
    $( '.btn-add-inlineblock-row' ).click(function(e){
      e.preventDefault();
      var target = '#tabbed-list';
      addFormSet($(this).val(), target);
    });

    $( '.add-nested' ).click(function(){
      var name = $(this).attr('name');
      var prefix = name.replace('-ADD', '');
      var target = '#' + prefix + '-LIST';
      addForm(prefix, target, true);
    });
  });
  </script>
{% endblock javascript %}

