{% extends "post_generator/base.html" %}
{% load custom_filters %}

{% block title %}{{ post_title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
    <style>
      img {
        display: block;
        margin: 0 auto;
      }
    </style>
    <style>
      .arabic {
        direction: rtl;
      }
      .arabic li {
        margin-right: 20px;
      }
      .block {
        margin-bottom: 20px;
      }
      .block-image, .block-video {
        text-align: center;
      }
      .block-text p {
        font-family: verdana, sans-serif;
        color: #333;
      }
      .ui-widget {
        font-family: verdana, sans-serif;
        font-size: 13px;
        border-style: none;
        line-height: 150%;
      }
      .ui-widget-header {
        background: #c63;
        font-size: 1.0em;
        font-family: Verdana,Arial,sans-serif;
        border-style: none;
      }
      .ui-tabs .ui-tabs-panel {
        padding: 0;
      }
      .ui-tabs .ui-tabs-nav {
        margin-bottom: 20px;
      }
      .outer-tabs {
        width:865px;
        padding: 10px;
        border: 1px solid gainsboro;
      }
      h2 {
        font-weight: bold;
        font-size: medium;
        text-decoration: underline;
      }
      h3 {
        font-weight: bold;
        font-size: inherit;
      }
      .ingredient, .direction {
        margin-bottom: 0;
      }
      .ingredient-list {
        margin: 0;
      }
      .main-container {
        margin: 0;
      }
  </style>
   <style media="print">
      .print-hide {
        display: none !important;
      }
      .print-show {
        display: block !important;
      }
   </style>
{% endblock css %}

{% block content %}
<div class="main-container">
<h1><a href="{{ post.link }}" target="_blank">{{ post_title }}</a></h1>
<span>Date: {{ post.pub_date }}</span>
<button id="edit-post" class="print-hide"><a href="{% url 'post_generator:post_manage' post.id %}">Edit This Post</a></button>
<button id="update-wp" class="print-hide">Update This Post</button>
<br />

<div class="tabs outer-tabs">
<ul>
  <li><a href="#tabs-preview">Preview</a></li>
  <li><a href="#tabs-html">HTML</a></li>
</ul>
<div id="tabs-html">
  <pre id="post-html">
  </pre>
</div>
<div id="tabs-preview">
{% for block in blocks_pretab %}
  {% if block|class_name == 'Image' %}
  {% if block.printable %}
  <div class="block block-image print-show">
  {% else %}
  <div class="block block-image print-hide">
  {% endif %}
  [caption id="attachment_{{ block.wordpress_image_id }}" align="aligncenter" width="{{ block.width }}"]<a href="{{ block.link }}"><img class="size-full wp-image-{{ block.wordpress_image_id }}" src="{{ block.link }}" width="{{ block.width }}" height="{{ block.height }}" /></a>{% for lang in languages %}{% if lang.name == 'somali' %}({% endif %}{{ block|dict_val:lang.name|safe }}{% if lang.name == 'somali' %}){% endif %} {% endfor %}[/caption]
  {% endif %}
  </div>
{% endfor %}

<div class="tabs">
<ul class="print-hide">
{% for lang in languages %}
  <li><a href="#tabs-{{ lang.name }}">{{ lang.display_name }}</a></li>
{% endfor %}
</ul>

{% for lang in languages %}
<div class="{{ lang.name }}" id="tabs-{{ lang.name }}">
{% for block in blocks_tabbed %}
{% with lang_name=lang.name %}
  {% if block|class_name == 'Image' %}
  {% if block.printable %}
  <div class="block block-image print-show" style="{{ block.inline_styles }}">
  {% else %}
  <div class="block block-image print-hide" style="{{ block.inline_styles }}">
  {% endif %}
    [caption id="attachment_{{ block.wordpress_image_id }}" align="aligncenter" width="{{ block.width }}"]<a href="{{ block.link }}"><img class="size-full wp-image-{{ block.wordpress_image_id }}" src="{{ block.link }}" width="{{ block.width }}" height="{{ block.height }}" /></a>{{ block|dict_val:lang_name|safe }}[/caption]

  {% elif block|class_name == 'Video' %}
  <div class="block block-video print-hide" style="{{ block.inline_styles }}">
    <iframe src="{{ block.link }}" frameborder="0" width="{{ block.width }}" height="{{ block.height }}"></iframe>

  {% elif block|class_name == 'TextBlock' %}
    {% if block.header %}
  <div class="block block-text print-show" style="{{ block.inline_styles }}">
    <h2>{{ block|dict_val:lang_name|safe }}</h2>
    {% else %}
  <div class="block block-text print-hide" style="{{ block.inline_styles }}">
    <p>{{ block|dict_val:lang_name|safe }}</p>
    {% if lang_name == 'somali' and block.somali_author %}<p style="font-style: italic; text-align: right;">Waxaa af-Somaali u tarjumay: {{ block.somali_author }}</p>{% endif %}
    {% endif %}

  {% elif block|class_name == 'IngredientBlock' %}
  <div class="block block-ingredient print-show" style="{{ block.inline_styles }}">
    <h3>{{ block.header|dictionary_item_val:lang_name|title }}:</h3>
    <ul class="ingredient-list">
    {% for ing in block.ingredient_set.all %}
      <li class="ingredient">{{ ing|ing_name:lang_name|safe }}</li>
    {% endfor %}
    </ul>

  {% elif block|class_name == 'DirectionBlock' %}
  <div class="block block-direction print-show" style="{{ block.inline_styles }}">
    <h3>{{ block.header|dict_val:lang_name|title }}:</h3>
    <ol class="direction-list">
    {% for dir in block.direction_set.all %}
      <li class="direction">{{ dir|dict_val:lang_name|safe }}</li>
    {% endfor %}
    </ol>
  {% endif %}
  </div>
{% endwith %}
{% endfor %}
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock content %}

{% block javascript_library %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/wz_tooltip.js"></script>
{% endblock javascript_library %}

{% block javascript %}
  <script>
  $(function() {
    // jQuery UI elements initialized
    //          - tabs for languages

    $( ".block-text p" ).each(function(){
      $(this).html($(this).html().replace(/\n/gm, '<br>'));
    });
    $( '#post-html' ).text($( '#tabs-preview' ).html().replace(/\n+/gm, '\n').replace(/(\n\s*\n)+/gm, '\n').replace(/&amp;\\lt;/gm, '&lt;').replace(/&amp;\\gt;/gm, '&gt;'));
    $( ".tabs" ).tabs();
    $( '#edit-post' ).button();
    $( '#update-wp' ).button().click(function(e){
      e.preventDefault();
      var updateButton = $(this)
      updateButton.button("option", "label", "Loading...");
      var requestData = {};
      requestData['post-content'] = $( '#post-html' ).text();
      $.ajax({
        type: "POST",
        url: "{% url 'post_generator:wp_update' post.id %}",
        data: requestData,
        success: function(data){
          updateButton.button("option", "label", "Update This Post");
        }
      });
    });
  });
  </script>
{% endblock javascript %}
 
