  h2 {
    color: gray;
    padding-left:10px;
    border-bottom:2px solid gainsboro;
  }
  table {
    width:100%;
  }
  ol {
    padding:0 0 0 25px;
  }
  ol > li {
    margin:10px 0px;
    padding:10px;
    border:1px solid gainsboro;
    border-radius:10px;
  }
  .nested > li:nth-child(even){
    border:1px solid black;
    background-color:gainsboro;
    border-radius:5px;
  }
  td {
    padding:0px 5px;
  }
  .nested_empty{
    display:none;
  }
  .img-upload {
    width: 136px;
    min-height: 158px;
    border: 1px solid black;
    padding: 0px;
  }
  .dropzone .dz-default.dz-message {
    background-image: none;
    width: 136px;
    height: 158px;
    margin: 0px;
    top: 0px;
    left: 0px;
    font-size: 13pt;
    text-align: center;
    display: table;
  }
  .dropzone .dz-default.dz-message span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
  }
  .text-input {
    border: 1px solid #aaa;
    height: 15px;
    padding-left: 2px;
    border-radius: 3px;
  }
  .text-input.arabic {
    padding-left: 0;
    padding-right: 2px;
    font-size: 13pt;
    height: initial;
  }
  .arabic {
    direction:rtl;
  }
  .dropzone .dz-preview {
    margin: 10px;
  }
  .hidden {
    display: none;
  }
  .delete-block-btn {
    float: right;
  }
  .accordion-toggle-btn {
    float: right;
  }
  .block-title,.nested-title {
    display: inline;
  }
  .block-row {
    background-color: white;
  }
  .block-move-btn {
    float: right;
  }
  .collapse-all-btn {
    float: right;
  }
  .expand-all-btn {
    float: right;
  }
  .img-preview {
    border: 1px solid gray;
    border-radius: 3px;
  }
  .form_info,.formset_info {
    display: none;
  }
  textarea, textarea.text-input, textarea.text-input.arabic {
    width: 98%;
    height: 144px;
    padding: 6px;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 8pt;
    font-family: verdana, sans-serif;
  }
  textarea.text-input.arabic {
    font-size: 13pt;
  }
  .header-block textarea {
    height: 50px;
    font-weight: bold;
    font-size: medium;
    text-decoration: underline;
  }
  .direction {
    min-height: 30px;
  }
  .url {
    width: 250px;
  }
  .post-url {
    width: 150px;
  }
  .image-url {
    direction: rtl;
  }
  .block-list {
    min-height: 100px;
  }
  .dimensions,.quantity {
    width: 40px;
  }
  .caption {
    width: 425px;
  }
  .comment {
    width: 195px;
  }
  dt {
    height: 20px;
  }
  .submit-form-upper {
    float: right;
    margin-right: 25px;
  }
  .submit-form-bottom {
    margin: 25px auto;
    display: block;
    font-size: 140%;
  }
  .btn-submit-form {
    font-weight: bold;
    color: #c63;
  }
  .btn-symbol-keyboard {
    float: right;
    margin-right: 20px;
  }
  .add-block-buttons {
    text-align: center;
  }
  #table-post-form tr td:last-child {
    float:right;
    margin-right: 20px;
  }
  td.english-textblock {
    font-size: 8pt;
    font-family: verdana, sans-serif;
  }
  #arabic-keyboard td {
    padding: 2px 2px;
  }
  #arabic-keyboard tr:last-child td {
    padding-top: 15px;
  }
  .btn-add-arabic .ui-button-text {
    font-size: 15pt;
    padding: 0;
    width: 28px;
  }
  .btn-add-frac .ui-button-text, .btn-add-symbol .ui-button-text {
    font-size: 11pt;
    padding: 0;
    width: 28px;
  }
  .text-input.quantity {
    font-size: 10pt;
  }
  .btn-add-arabic img {
    width: 15px;
  }
  .textblock_div span {
    text-align: right;
    display: block;
  }
