header {
  margin-top: 10px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.header-container {
  width: 100%;
  background: none;
}

.title {
  float: none;
  display: block;
  text-decoration: none;
  color: #c63;
  font-size: 255%;
  font-weight: bold;
  font-family: verdana, sans-serif;
}
