{% load custom_filters %}

{% if form.instance.id %}
<form class="item-form" method="post" action="{% url 'post_generator:dictionary_item_manage' pk=form.instance.id %}">
{% else %}
<form class="item-form" method="post" action="{% url 'post_generator:dictionary_item_new' %}">
{% endif %}
{% csrf_token %}

<div id="DictItemError">
{{ form.errors }}
</div>

<table>
  <tr id="item-type">
    <td>Type: {{ form.word_type }}</td>
    <td>Set: {{ form|set_field }}</td>
  </tr>
  <tr id="item-en">
    <td><b>English:</b> {{ form.english }}</td>
    <td>Plural: {{ form.english_plural }}</td>
  </tr>
  <tr id="item-so">
    <td colspan="2">Soomali: {{ form.somali }}</td>
  </tr>
  <tr id="item-fr-m">
    <td>French(m): {{ form.french }}</td>
    <td>Plural: {{ form.french_masculine_plural }}</td>
  </tr>
  <tr id="item-fr-f">
    <td>French(f): {{ form.french_feminine }}</td>
    <td>Plural: {{ form.french_feminine_plural }}</td>
  </tr>
  <tr id="item-ar">
    <td colspan="2">Arabic: {{ form.arabic }}</td>
  </tr>
  <tr id="item-img">
    <td colspan="2">Image (if available): {{ form.image }}</td>
  </tr>
  <tr id="item-link">
    <td colspan="2">Recipe (if available): {{ form.link }}</td>
  </tr>
</table>
<input type="submit" value="Submit" />
</form>
