{% extends "post_generator/base.html" %}
{% load custom_filters %}

{% block title %}Dictionary Item Management{% endblock %}

{% block content %}
<form method="post" action="">
{% csrf_token %}

{{ form.errors }}

<table>
  <tr id="item-type">
    <td colspan="2">Type: {{ form.word_type }}</td>
  </tr>
  <tr id="item-en">
    <td><b>English:</b> {{ form.english }}</td>
    <td>Plural: {{ form.english_plural }}</td>
  </tr>
  <tr id="item-so">
    <td colspan="2">Soomali: {{ form.somali }}</td>
  </tr>
  <tr id="item-fr-m">
    <td>French(m): {{ form.french }}</td>
    <td>Plural: {{ form.french_masculine_plural }}</td>
  </tr>
  <tr id="item-fr-f">
    <td>French(f): {{ form.french_feminine }}</td>
    <td>Plural: {{ form.french_feminine_plural }}</td>
  </tr>
  <tr id="item-ar">
    <td colspan="2">Arabic: {{ form.arabic }}</td>
  </tr>
  <tr id="item-img">
    <td colspan="2">Image (if available): {{ form.image }}</td>
  </tr>
  <tr id="item-link">
    <td colspan="2">Recipe (if available): {{ form.link }}</td>
  </tr>
</table>
<span style="display:none;">Set: {{ form|set_field }}</span>
<input type="submit" value="Submit" />
</form>
{% endblock content %}
