{% extends "post_generator/base.html" %}
{% load post_filters %}
{% block title %}Create New Post - Xawaash Post Generator{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
{% endblock css %}

{% block content %}
<form action="{% url 'post_generator:update' post.id %}" method="post">
{% csrf_token %}
<div id="parent" style="width: 100%;">
<label for="post-url">Xawaash Post URL:</label>
<input name="post-url" id="post-url" type="url" /><br />

<h3>Embedded Video</h3>
<div>
<label for="main-img">Main Image URL:</label>
<input name="main-img" id="main-img" type="url" /><br />
<label for="main-img-width">Width:</label>
<input name="main-img-width" id="main-img-width" type="text" value="820" />
<i> X </i>
<label for="main-img-height">Height:</label>
<input name="main-img-height" id="main-img-height" type="text" value="543" />
</div>

<h3>Embedded Video</h3>
<div>
<label for="vid-link">URL:</label>
<input name="vid-link" id="vid-link" type="url" /><br />

<label for="vid-width">Width:</label>
<input name="vid-width" id="vid-width" type="text" value="810" />
<i> X </i>
<label for="vid-height">Height:</label>
<input name="vid-height" id="vid-height" type="text" value="456" />
</div>

<table>
<tr>
{% for side in tab_sides %}
<td><div id="{{ side }}-tabs">

  <ul>
{% for lang in lang_list %}
    <li><a href="#{{ side }}-{{ lang }}-tab">{{ lang|title }}</a></li>
{% endfor %}
  </ul>

{% for lang in lang_list %}
  <div id="{{ side }}-{{ lang }}-tab">
    <p>Title: <input name="{{ lang }}-title" type="text" placeholder="Enter {{ lang|title }} recipe title..." /></p>
    <p><input name="{{ lang }}-include" type="checkbox">Include language in post?</input></p>
    <div id="{{ side }}-{{ lang }}-accordion">
      <h3>Introduction</h3>
      <div>
        <table id="{{ side }}-{{ lang }}-intro-table">
          <tr><td>
            <textarea name="{{ lang }}-intro-1" rows="4" cols="50"></textarea>
          </td></tr>
          <tr><td>
            <button id="{{ side }}-add-intro">Add paragraph</button>
          </td></tr>
        </table><br />
      </div>
      
      <h3>Printing Options</h3>
      <div>
        <input name="{{ lang }}-print" type="text" value="{{ print_def|get_val:lang }}" /><br />
        <input name="{{ lang }}-print-img" type="text" value="{{ print_img_def|get_val:lang }}" /><br />
      </div>

      <h3>Add Paragraph/Text</h3>
      <div>
        <table id="{{ side }}-{{ lang }}-para-table">
          <tr><td>
            <input name="{{ lang }}-para-1-print" id="{{ side }}-{{ lang }}-para-1-print" type="checkbox" />
            <label for="{{ side }}-{{ lang }}-para-1-print">Printable?</label>
          </td>
          <td>
            <textarea name="{{ lang }}-para-1" rows="4" cols="50"></textarea>
          </td></tr>
    	  <tr><td colspan="2">
    	    <button id="{{ side }}-add-para">Add Paragraph</button>
    	  </td></tr>
		</table><br />
	  </div>

      <h3>Add Image</h3>
      <div>
        <table id="{{ side }}-{{ lang }}-img-table">
          <tr>
            <td>
              <label for="{{ side }}-{{ lang }}-img-1-print">Printable?</label><br />
              <input name="img-1-print" id="{{ side }}-{{ lang }}-img-1-print" type="checkbox" />
              <label for="{{ side }}-{{ lang }}-img-1-url">URL:</label>
              <input name="img-1-url" id="{{ side }}-{{ lang }}-img-1-url" type="url" /><br />
              <label for="{{ side }}-{{ lang }}-img-1-wpid">Wordpress Image ID (if applicable):</label>
              <input name="img-1-wpid" id="{{ side }}-{{ lang }}-img-1-wpid" type="url" /><br />
              <label for="{{ side }}-{{ lang }}-img-1-width">Width:</label>
              <input name="img-1-width" id="{{ side }}-{{ lang }}-img-1-width" type="text" value="820" />
              <i> X </i>
              <label for="{{ side }}-{{ lang }}-img-1-height">Height:</label>
              <input name="img-1-height" id="{{ side }}-{{ lang }}-img-1-height" type="text" value="543" /><br />
              <label for="{{ side }}-{{ lang }}-img-1-caption">{{ lang|title }} Caption:</label>
              <input name="img-1-{{ lang }}" id="{{ side }}-{{ lang }}-img-1-caption" type="text" placeholder="Enter {{ lang|title }} Caption" /><br />
		    </td>
		  </tr>
		  <tr><td>
	        <button id="add-img" colspan=2>Add Image</button>
		  </td></tr>
		</table>
	  </div>

	  <h3>Ingredients</h3>
	  <div>
	    <table id="{{ side }}-{{ lang }}-ing-table">
	      <tr>
	        <td>
	            <label for="{{ side }}-{{ lang }}-ingsec-1">Section Header (eg. Recipe #1):</label>
	            <input name="{{ lang }}-ingsec-1" id="{{ side }}-{{ lang }}-ingsec-1" type="text" /><br />
	        </td>
	        <td><table id="{{ side }}-{{ lang }}-ingsec-1-table">
	          <tr><td>
        		<label for="{{ side }}-{{ lang }}-ingsec-1-ing-1-quant">Quantity:</label>
        		<input name="{{ lang }}-ingsec-1-ing-1-quant" id="{{ side }}-{{ lang }}-ingsec-1-ing-1-quant" type="text" />
        		<label for="{{ side }}-{{ lang }}-ing-sec-1-ing-1-meas">Measure:</label>
        		<input name="{{ lang }}-ingsec-1-ing-1-meas" id="{{ side }}-{{ lang }}-ingsec-1-ing-1-meas" type="text" /><br />
        		
        		<label for="{{ side }}-{{ lang }}-ingsec-1-ing-1-intl">Int'l Quantity:</label>
        		<input name="{{ lang }}-ingsec-1-ing-1-intl" id="{{ side }}-{{ lang }}-ingsec-1-ing-1-intl" type="text" />
        		<label for="{{ side }}-{{ lang }}-ingsec-1-ing-1-unit">Unit:</label>
        		<input name="{{ lang }}-ingsec-1-ing-1-unit" id="{{ side }}-{{ lang }}-ingsec-1-ing-1-unit" type="text" /><br />
        		
        		<label for="{{ side }}-{{ lang }}-ingsec-1-ing-1-name">Ingredient:</label>
        		<input name="{{ lang }}-ingsec-1-ing-1-name" id="{{ side }}-{{ lang }}-ingsec-1-ing-1-name" type="text" /><br />
        		
        		<table id="{{ side }}-{{ lang }}-ingsec-1-ing-1-prep-table">
        		  <tr><td>
        		    <label for="{{ side }}-{{ lang }}-ingsec-1-ing-1-prep-1">Preparation/Style:</label>
        		    <input name="{{ lang }}-ingsec-1-ing-1-prep-1" id="{{ side }}-{{ lang }}-ingsec-1-ing-1-prep-1" type="text" /><br />
        		  </td></tr>
        		  <tr><td>
        		    <button id="{{ side }}-add-prep">Add Preparation/Style</button>
        		  </td></tr>
        		</table><br />
        		
        		<label for="{{ side }}-{{ lang }}-ingsec-1-ing-1-text">Text/Comment:</label>
        		<input name="{{ lang }}-ingsec-1-ing-1-text" id="{{ side }}-{{ lang }}-ingsec-1-ing-1-text" type="text" /><br />
        	  </td></tr>
        	  <tr><td>
        	    <button id="{{ side }}-add-ing">Add Ingredient</button>
              </td></tr>
            </table>
          </td></tr>
          <tr><td>
            <button id="{{ side }}-add-sec">Add Section Header</button>
          </td></tr>
        </table>
      </div>

	  <h3>Directions</h3>
	  <div>
		<table id="{{ side }}-{{ lang }}-dir-table">
		  <tr><td>
			<input name="{{ lang }}-dir-sec-1-num-1" type="text" /></li>
		  </td></tr>
		  <tr><td>
			<input name="{{ lang }}-dir-sec-1-num-2" type="text" /></li>
		  </td></tr>
		  <tr><td>
			<input name="{{ lang }}-dir-sec-1-num-3" type="text" /></li>
		  </td></tr>
		  <tr><td>
		    <button id="{{ side }}-add-dir">Add Direction</button>
		  </td></tr>
        </table>
	  </div>
	</div>
  </div>
{% endfor %}{# languages for loop #}
</div>
</td>
{% endfor %}{# languages for side #}
</tr>
</table>
<input type="submit" value="Generate HTML" />
</form>
{% endblock content %}

{% block javascript_library %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui.min.js"></script>
{% endblock javascript_library %}

{% block javascript %}
  <script>
  $(function() {
    // jQuery UI elements initialized
    //		- tabs for languages
    //		- accordions for sections

{% for side in tab_sides %}
    $( "#{{ side }}-tabs" ).tabs();
{% for lang in lang_list %}
    $( "#{{ side }}-{{ lang }}-accordion" ).accordion({
      heightStyle: "fill"
    });
{% endfor %}
{% endfor %}
  });
  </script>
{% endblock javascript %}