{% load custom_filters %}

<a href="{{ post.link }}" target="_blank"><h1>{{ post_title }}</h1></a>
<span>Date: {{ post.pub_date }}</span>

<div class="tabs">
<ul>
{% for lang in languages %}
  <li><a href="#tabs-{{ lang.name }}">{{ lang.display_name }}</a></li>
{% endfor %}
</ul>

{% for lang in languages %}
<div id="tabs-{{ lang.name }}">
{% for block in blocks %}
{% with lang_name=lang.name %}
{{ lang_name }}
  {% if block|class_name == 'Image' %}
  [caption id="attachment_{{ block.wordpress_image_id }}" align="aligncenter" width="{{ block.width }}"]
  <a href="{{ block.link }}"><img class="size-full wp-image-{{ block.wordpress_image_id }}" src="{{ block.link }}" width="{{ block.width }}" height="{{ block.height }}" /></a>{{ block.caption|dict_val:lang_name }}[/caption]
  {% endif %}

  {% if block|class_name == 'Video' %}
  <iframe src="{{ block.link }}" frameborder="0" width="{{ block.width }}" height="{{ block.height }}"></iframe>
  {% endif %}

  {% if block|dict_val:class_name == 'TextBlock' %}
  <p>{{ block|dict_val:lang_name }}</p>
  {% endif %}

  {% if block|class_name == 'IngredientBlock' %}
  <h3>{{ block.header|dict_val:lang_name }}:</h3>
  <ul>
  {% for ing in block.ingredient_set.all %}
    <li>
      {{ ing.quantity }}
      
      {% if ing.intl %}
        {{ ing.quantity_units }}
      {% endif %}

      {% if ing.intl %}
        ({{ ing.intl }} {{ ing.intl_units }})
      {% endif %}
      
      {% if ing.size %}
        {{ ing.size }}
      {% endif %}
      
      {{ ing.name }}
      
      {% if ing.prep_style %}
        ({{ ing.prep_style }})
      {% endif %}
      
      {% if ing.comment and ing.comment|dict_val:lang_name %}
        - {{ ing.comment|dict_val:lang_name }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if block|class_name == 'DirectionBlock' %}
  <h3>{{ block.header|dict_val:lang_name }}:</h3>
  <ol>
  {% for dir in block.direction_set.all %}
    <li>{{ dir|dict_val:lang_name }}</li>
  {% endfor %}
  </ol>
  {% endif %}
{% endwith %}
{% endfor %}
</div>
{% endfor %}
