{% extends "post_generator/base.html" %}
{% load custom_filters %}

{% block title %}Post Content Management{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui.combobox.css" />
    <style>
      span {
        padding-left:10px;
      }
      h2 {
        color: gray;
        padding-left:10px;
        border-bottom:2px solid gainsboro;
      }
      table {
        width:100%;
      }
      ol {
        padding:0 0 0 25px;
      }
      ol li {
        margin:10px 0px;
        border:1px solid gainsboro;
        border-radius:10px;
      }
      .nested li:nth-child(even){
        border:1px solid black;
        background-color:gainsboro;
        border-radius:5px;
      }
      .nested li:nth-child(even) table {
        border-top:1px solid black;
        border-radius:5px;
      }
      td {
        padding:0px 5px;
      }
      .nested_empty{
        display:none;
      }
      </style>
{% endblock css %}

{% block content %}
<form method="post" action="">
{% csrf_token %}

{{ image_fs.management_form }}
{{ video_fs.management_form }}
{{ text_block_fs.management_form }}
{{ ingredient_block_fs.management_form }}
{{ direction_block_fs.management_form }}
<input id="dict_len" style="display:none" value="{{ num_dict_items }}" type="hidden" />

<div id="dict_modal"></div>

<div id="post-general">
  <h2>General Post Information</h2>
  {{ form.non_field_errors }}
  <table>
    <tr>
      <td>Post Title: {{ form.title }}{{ form.title.errors }} <button name="{{ form.title.html_name }}button" class="add-item" data-target="#{{ form.title.auto_id }}">+</button></td>
      <td>{{ form.include_somali }} Include Somali Tab</td>
    </tr>
    <tr>
      <td>Post URL: {{ form.link }} <input type="button" value="Generate New...">{{ form.link.errors }}</td>
      <td>{{ form.include_french }} Include French Tab</td>
    </tr>
    <tr>
      <td>Publication Date: {{ form.pub_date }}{{ form.pub_date.errors }}</td>
      <td>{{ form.include_arabic }} Include Arabic Tab</td>
    </tr>
    <tr>
      <td>Featured Image: {{ form.featured_image }}{{ form.featured_image.errors }}</td>
      <td>Servings: {{ form.servings }}{{ form.servings.errors }}</td>
    </tr>
  </table>
</div>

<div id="pre-tab">
  <h2>Pre-Tab Content</h2>
  <ol id="pretab-list" class="block-list">
  {% include "post_generator/block_form.html" with form_list=pretab_forms %}
  </ol>
</div>

<div id="tabbed">
  <h2>Tabbed Content</h2>
  <ol id="tabbed-list" class="block-list">
  {% include "post_generator/block_form.html" with form_list=tabbed_forms %}
  </ol>
  <table>
    <tr>
      <td><input id="add-images" type="button" value="Add Image" /></td>
      <td><input id="add-videos" type="button" value="Add Video" /></td>
      <td><input id="add-textblocks" type="button" value="Add Text/Paragraph" /></td>
      <td><input id="add-ingredientblocks" type="button" value="Add Ingredient Set" /></td>
      <td><input id="add-directionblocks" type="button" value="Add Direction Set" /></td>
    </tr>
  </table>
</div>

<div id="templates" style="display:none">
  <h2>Block Templates</h2>
  <ol id="template-list">
  {% include "post_generator/block_form.html" with form_list=template_forms template=1 %}
  </ol>
</div>

<input type="submit" value="Submit" />
</form>
{% endblock content %}

{% block javascript_library %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.ui.combobox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dynamic-forms.js"></script>
{% endblock javascript_library %}

{% block javascript %}
  <script>
  $(function() {
    // jQuery UI elements initialized
    //          - tabs for languages
    //          - sortable for reordering blocks
    $( ".tabs" ).tabs();
    $( "#tabbed-list" ).sortable({
      connectWith:'.block-list'
    }).disableSelection();
    $( "#pretab-list" ).sortable({
      connectWith:'.block-list'
    }).disableSelection();
    $('select').combobox();

    $('#dict_modal').dialog({
        autoOpen: false,
        width: 500,
        height: 500,
        modal: true
    });
 
    $('#dict_modal').on('submit', '.item-form', function () {
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function() {
                var target = $('#dict_modal').data('target');
                var eng = $('#id_english').val();
                var len = parseInt($('#dict_len').val()) + 1;
                $('#dict_len').val(len);
                $(target).append('<option value="' + len + '">' + eng + '</option>');
                $(target).val(len);
                $('#dict_modal').dialog('close');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                $('#DictItemError').append(xhr);
            }
        });
        return false; 
    });
   
    $( ".add-item" ).button().click(function(e){
        e.preventDefault();
        var url = "{% url 'post_generator:dictionary_item_new' %}";
        var target = $(this).data('target');
        $('#dict_modal').load(url,function(){
            $(this).attr({'data-target':target});
            $(this).dialog('open');
        });
        return false;
    });

    $( '#add-images' ).click(function(){ addForm('images', '#tabbed-list', false); });
    $( '#add-videos' ).click(function(){ addForm('videos', '#tabbed-list', false); });
    $( '#add-textblocks' ).click(function(){ addForm('textblocks', '#tabbed-list', false); });
    $( '#add-ingredientblocks' ).click(function(){ addFormSet('ingredientblocks', '#tabbed-list', false); });
    $( '#add-directionblocks' ).click(function(){ addFormSet('directionblocks', '#tabbed-list', false); });
    $( '.add-nested' ).click(function(){
      var name = $(this).attr('name');
      var prefix = name.replace('-ADD', '');
      var target = '#' + prefix + '-LIST';
      addForm(prefix, target, true);
    });
  });
  </script>
{% endblock javascript %}

