{% extends "post_generator/base.html" %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block title %}Post Content Management{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui.combobox.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.timepicker.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dropzone.css" />
    <style>
      h2 {
        color: gray;
        padding-left:10px;
        border-bottom:2px solid gainsboro;
      }
      table {
        width:100%;
      }
      ol {
        padding:0 0 0 25px;
      }
      ol > li {
        margin:10px 0px;
        padding:10px;
        border:1px solid gainsboro;
        border-radius:10px;
      }
      .nested > li:nth-child(even){
        border:1px solid black;
        background-color:gainsboro;
        border-radius:5px;
      }
      td {
        padding:0px 5px;
      }
      .nested_empty{
        display:none;
      }
      .img-upload {
        width: 136px;
        min-height: 158px;
        border: 1px solid black;
        padding: 0px;
      }
      .dropzone .dz-default.dz-message {
        background-image: none;
        width: 136px;
        height: 158px;
        margin: 0px;
        top: 0px;
        left: 0px;
        font-size: 13pt;
        text-align: center;
        display: table;
      }
      .dropzone .dz-default.dz-message span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0px;
      }
      .dropzone .dz-preview {
        margin: 10px;
      }
      .hidden {
        display: none;
      }
      .delete-block-btn {
        float: right;
      }
      .block-title,.nested-title {
        display: inline;
      }
      .block-row {
        background-color: white;
      }
      .block-move-btn {
        float: right;
      }
      .img-preview {
        border: 1px solid gray;
        border-radius: 3px;
      }
      .form_info,.formset_info {
        display: none;
      }
      textarea {
        width: 100%;
        font-size: 9pt;
        border: 1px solid #aaa;
        border-radius: 3px;
      }
      .direction {
        min-height: 30px;
      }
      .url {
        width: 250px;
      }
      .post-url {
        width: 150px;
      }
      .image-url {
        direction: rtl;
      }
      .block-list {
        min-height: 100px;
      }
      .dimensions,.quantity {
        width: 40px;
      }
      .caption {
        width: 425px;
      }
      .comment {
        width: 195px;
      }
      dt {
        height: 20px;
      }
      .text-input {
        border: 1px solid #aaa;
        height:13px;
        padding-left: 2px;
        border-radius: 3px;
      }
      .arabic {
        direction:rtl;
      }
      </style>
{% endblock css %}

{% block content %}
<form id="post-form" method="post" action="">
{% csrf_token %}

{{ image_fs.management_form }}
{{ video_fs.management_form }}
{{ text_block_fs.management_form }}
{{ ingredient_block_fs.management_form }}
{{ direction_block_fs.management_form }}
<input id="dict_len" style="display:none" value="{{ num_dict_items }}" type="hidden" />

<div id="dict_modal"></div>

<div id="post-general">
  <h2>General Post Information</h2>
  {{ form.non_field_errors }}
  <table>
    <tr>
      <td rowspan="4" width="220" style="padding-left: 20px;">
        {% if form.featured_image.value %}
          <img id="{{ form.featured_image.auto_id }}_preview" class="img-preview" width="200" height="132" src="{{ form.featured_image.value }}" />
        {% else %}
          <img id="{{ form.featured_image.auto_id }}_preview" class="img-preview hidden" width="200" height="132" />
          <div class="img-upload dropzone" data-target="featured-image">
            <div class="dz-default dz-message">
              <span>Drop Files Here<br />(or Click)<br />to Upload</span>
            </div>
          </div>
        {% endif %}
      </td>
      <td width="350">Post Title: {{ form.title|add_class:"dict-general" }}{{ form.title.errors }} <button name="{{ form.title.html_name }}button" class="add-item" data-type=".dict-general" data-target="#{{ form.title.auto_id }}">+</button></td>
      <td>{{ form.include_somali }} Include Somali Tab</td>
    </tr>
    <tr>
      <td>Post URL: {{ form.link|add_class:"text-input post-url" }} <button id="generate-post-link">New</button>{{ form.link.errors }}</td>
      <td>{{ form.include_french }} Include French Tab</td>
    </tr>
    <tr>
      <td>Publication Date: {{ form.pub_date|add_class:"text-input date" }}{{ form.pub_date.errors }}</td>
      <td>{{ form.include_arabic }} Include Arabic Tab</td>
    </tr>
    <tr>
      <td>Featured Image: {{ form.featured_image|add_class:"text-input url image-url" }}{{ form.featured_image.errors }}</td>
      <td>Servings: {{ form.servings }}{{ form.servings.errors }}</td>
    </tr>
  </table>
</div>

<div id="pre-tab">
  <h2>Pre-Tab Content</h2>
  <ol id="pretab-list" class="block-list">
  {% include "post_generator/block_form.html" with form_list=pretab_forms %}
  </ol>
</div>

<div id="tabbed">
  <h2>Tabbed Content</h2>
  <ol id="tabbed-list" class="block-list">
  {% include "post_generator/block_form.html" with form_list=tabbed_forms %}
  </ol>
  <table>
    <tr>
      <td><input id="add-images" type="button" value="Add Image" /></td>
      <td><input id="add-videos" type="button" value="Add Video" /></td>
      <td><input id="add-textblocks" type="button" value="Add Text/Paragraph" /></td>
      <td><input id="add-headers" type="button" value="Add Header" /></td>
      <td><input id="add-ingredientblocks" type="button" value="Add Ingredient Set" /></td>
      <td><input id="add-directionblocks" type="button" value="Add Direction Set" /></td>
    </tr>
  </table>
</div>

<div id="templates" style="display:none">
  <h2>Block Templates</h2>
  <ol id="template-list">
  {% include "post_generator/block_form.html" with form_list=template_forms template=1 %}
  </ol>
</div>

<div id="deleted" style="display:none">
  <h2>Deleted Blocks</h2>
  <ol id="deleted-list">
  {% include "post_generator/block_form.html" with form_list=deleted_forms %}
  </ol>
</div>

<input type="submit" value="Submit" />
</form>
<div class="hidden">
<div id="arabic-keyboard" title="Arabic Keyboard">
  <table>
    <tr>
      <td><button class="add-arabic">ذ</button></td>
      <td><button class="add-arabic">١</button></td>
      <td><button class="add-arabic">٢</button></td>
      <td><button class="add-arabic">٣</button></td>
      <td><button class="add-arabic">٤</button></td>
      <td><button class="add-arabic">٥</button></td>
      <td><button class="add-arabic">٦</button></td>
      <td><button class="add-arabic">٧</button></td>
      <td><button class="add-arabic">٨</button></td>
      <td><button class="add-arabic">٩</button></td>
      <td><button class="add-arabic">٠</button></td>
    </tr>
    <tr>
      <td><button class="add-arabic">ض</button></td>
      <td><button class="add-arabic">ص</button></td>
      <td><button class="add-arabic">ث</button></td>
      <td><button class="add-arabic">ق</button></td>
      <td><button class="add-arabic">ف</button></td>
      <td><button class="add-arabic">غ</button></td>
      <td><button class="add-arabic">ع</button></td>
      <td><button class="add-arabic">ه</button></td>
      <td><button class="add-arabic">خ</button></td>
      <td><button class="add-arabic">ح</button></td>
      <td><button class="add-arabic">ج</button></td>
      <td><button class="add-arabic">د</button></td>
    </tr>
    <tr>
      <td><button class="add-arabic">ش</button></td>
      <td><button class="add-arabic">س</button></td>
      <td><button class="add-arabic">ي</button></td>
      <td><button class="add-arabic">ب</button></td>
      <td><button class="add-arabic">ل</button></td>
      <td><button class="add-arabic">ا</button></td>
      <td><button class="add-arabic">ت</button></td>
      <td><button class="add-arabic">ن</button></td>
      <td><button class="add-arabic">م</button></td>
      <td><button class="add-arabic">ك</button></td>
      <td><button class="add-arabic">ط</button></td>
    </tr>
    <tr>
      <td><button class="add-arabic">ئ</button></td>
      <td><button class="add-arabic">ء</button></td>
      <td><button class="add-arabic">ؤ</button></td>
      <td><button class="add-arabic">ر</button></td>
      <td><button class="add-arabic">ﻻ</button></td>
      <td><button class="add-arabic">ى</button></td>
      <td><button class="add-arabic">ة</button></td>
      <td><button class="add-arabic">و</button></td>
      <td><button class="add-arabic">ز</button></td>
      <td><button class="add-arabic">ظ</button></td>
    </tr>
   <tr>
      <td><button class="add-arabic">لآ</button></td>
      <td><button class="add-arabic">آ</button></td>
      <td><button class="add-arabic">,</button></td>
      <td><button class="add-arabic">.</button></td>
      <td><button class="add-arabic">؟</button></td>
      <td><button class="add-arabic">لأ</button></td>
      <td><button class="add-arabic">أ</button></td>
      <td><button class="add-arabic">-</button></td>
      <td><button class="add-arabic">،</button></td>
      <td><button class="add-arabic">إ</button></td>
      <td><button class="add-arabic">;</button></td>
      <td><button class="add-arabic">ـ</button></td>
    </tr>
  </table>
</div>
<div id="frac-keyboard" title="Fraction Keyboard">
  <table>
    <tr>
      <td><button class="add-frac">½</button></td>
      <td><button class="add-frac">⅓</button></td>
      <td><button class="add-frac">¼</button></td>
      <td><button class="add-frac">⅕</button></td>
      <td><button class="add-frac">⅙</button></td>
      <td><button class="add-frac">⅛</button></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="add-frac">⅔</button></td>
      <td><button class="add-frac">¾</button></td>
      <td><button class="add-frac">⅖</button></td>
      <td><button class="add-frac">⅚</button></td>
      <td><button class="add-frac">⅜</button></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="add-frac">⅗</button></td>
      <td></td>
      <td><button class="add-frac">⅝</button></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="add-frac">⅘</button></td>
      <td></td>
      <td><button class="add-frac">⅞</button></td>
    </tr>
  </table>
</div>
</div>
{% endblock content %}

{% block javascript_library %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.ui.combobox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui.timepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/dropzone.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dynamic-forms.js"></script>
{% endblock javascript_library %}

{% block javascript %}
  <script>
  $(function() {
    // jQuery UI elements initialized
    //          - tabs for languages
    //          - sortable for reordering blocks
    $( ':input.arabic' ).click(function(){
      var target = '#' + $(this).attr('id');
      $( '#arabic-keyboard' ).attr({'data-target':target});
      if($( '#arabic-keyboard' ).data('uiDialog')){
        $( '#arabic-keyboard' ).dialog('destroy');
      }
      $( '#arabic-keyboard' ).dialog({
        width: 540,
        position: {
          my: 'right top',
          at: 'right bottom',
          of: $(this)
        },
      });
      $(this).focus();
    });
    $( ".add-arabic" ).button().click(function(ev){
      ev.preventDefault();
      var target = $( '#arabic-keyboard' ).attr('data-target');
      var value = $( target ).val();
      value += $(this).text();
      $( target ).val(value);
    });
    $( '.frac-input' ).click(function(){
      var target = '#' + $(this).attr('id');
      $( '#frac-keyboard' ).attr({'data-target':target});
      if($( '#frac-keyboard' ).data('uiDialog')){
        $( '#frac-keyboard' ).dialog('destroy');
      }
      $( '#frac-keyboard' ).dialog({
        position: {
          my: 'left top',
          at: 'left bottom',
          of: $(this)
        },
      });
      $(this).focus();
    });
    $( ".add-frac" ).button().click(function(ev){
      ev.preventDefault();
      var target = $( '#frac-keyboard' ).attr('data-target');
      var value = $( target ).val();
      value += $(this).text();
      $( target ).val(value);
    });
    $( ".tabs" ).tabs();
    function updateLoc(){
      $('.block-list').children().each(function(){
        var loc = $(this).find('.loc-field');
        loc.val($(this).index());
      });
    }
    $( "#tabbed-list" ).sortable({
      connectWith:'.block-list',
      stop: function(event, ui) {
        updateLoc();
      }
    }).disableSelection();
    $( "#pretab-list" ).sortable({
      connectWith:'.block-list',
      stop: function(event, ui) {
        updateLoc();
      }
    }).disableSelection();
    function moveUp(item) {
        var prev = item.prev();
        if (prev.length == 0)
            return;
        prev.css('z-index', 999).css('position','relative').animate({ top: item.height() }, 250);
        item.css('z-index', 1000).css('position', 'relative').animate({ top: '-' + prev.height() }, 300, function () {
            prev.css('z-index', '').css('top', '').css('position', '');
            item.css('z-index', '').css('top', '').css('position', '');
            item.insertBefore(prev);
            updateLoc();
        });
    }
    function moveDown(item) {
        var next = item.next();
        if (next.length == 0)
            return;
        next.css('z-index', 999).css('position', 'relative').animate({ top: '-' + item.height() }, 250);
        item.css('z-index', 1000).css('position', 'relative').animate({ top: next.height() }, 300, function () {
            next.css('z-index', '').css('top', '').css('position', '');
            item.css('z-index', '').css('top', '').css('position', '');
            item.insertAfter(next);
            updateLoc();
        });
    }
    $('.block-move-btn').button().click(function(e){
      e.preventDefault();
      if($(this).val() == 'up'){
        moveUp($(this).parent());
      } else {
        moveDown($(this).parent());
      }
    }); 

    $('.date').datetimepicker({
       showAnim:'slide',
       showButtonPanel: true,
       dateFormat: 'yy-mm-dd',
       timeFormat: 'HH:mm:ss'
    });
    
    $('select:not(select[multiple=multiple])').combobox();

    $('.delete-block-btn').button().click(function(e){
      e.preventDefault();
      var blockRow = $(this).parent();
      var blockList = blockRow.parent();
      if($(this).val() == 'nested'){
        blockRow.find('.delete-nested').prop('checked', true);
      } else {
        blockRow.find('.delete-block').prop('checked', true);
      }
      blockRow.appendTo($('#deleted-list'));
      updateLoc();
   });

    Dropzone.autoDiscover = false;
    $('.img-upload').dropzone({
      url: "{% url 'post_generator:wp_upload' %}",
      success: function(file, response){
        var target = $(this.element).attr('data-target');
        if(target == 'featured-image'){
          $('#{{ form.featured_image.auto_id }}').val(response.link);
          $('#{{ form.featured_image.auto_id }}_preview').attr({'src':response.link}).removeClass('hidden');
          $(this.element).addClass('hidden');
        } else {
          $(target + 'wordpress_image_id').val(response.id);
          $(target + 'link').val(response.link);
          $(target + 'width').val(response.width);
          $(target + 'height').val(response.height);
          $(target + 'img').attr({
            'src': response.link,
            'width': response.width/4,
            'height': response.height/4,
          }).removeClass('hidden');
          $(this.element).addClass('hidden');
        }
      },
    });
    $(document).bind('drop dragover', function (e) {
        e.preventDefault();
    });

    $('#generate-post-link').button().click(function(e){
      e.preventDefault();
      $.get("{% url 'post_generator:wp_new' %}", function(data){
           $('#id_link').val(data.link);
      });
      return false; 
    });

    $('#dict_modal').dialog({
        autoOpen: false,
        width: 500,
        height: 500,
        modal: true
    });
 
    $('#dict_modal').on('submit', '.item-form', function () {
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function() {
                var type = $('#dict_modal').attr('data-type');
                var target = $('#dict_modal').attr('data-target');
                var eng = $('#id_english').val();
                var len = parseInt($('#dict_len').val()) + 1;
                $('#dict_len').val(len);
                $(type).append('<option value="' + len + '">' + eng + '</option>');
                if($(target).data('uiCombobox')){
                  $(target).combobox("value", len);
                } else {
                  $(target).val(len);
                }
                $('#dict_modal').dialog('close');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                $('#DictItemError').append(xhr);
            }
        });
        return false; 
    });
   
    $( ".add-item" ).button().click(function(e){
        e.preventDefault();
        var url = "{% url 'post_generator:dictionary_item_new' %}";
        var type = $(this).attr('data-type');
        var target = $(this).attr('data-target');
        $('#dict_modal').load(url,function(){
            $(this).attr({'data-type':type});
            $(this).attr({'data-target':target});
            $(this).dialog('open');
        });
        return false;
    });

    $( '#add-images' ).click(function(){ addForm('images', '#tabbed-list', false); });
    $( '#add-videos' ).click(function(){ addForm('videos', '#tabbed-list', false); });
    $( '#add-textblocks' ).click(function(){ addForm('textblocks', '#tabbed-list', false); });
    $( '#add-headers' ).click(function(){ addForm('headers', '#tabbed-list', false); });
    $( '#add-ingredientblocks' ).click(function(){ addFormSet('ingredientblocks', '#tabbed-list', false); });
    $( '#add-directionblocks' ).click(function(){ addFormSet('directionblocks', '#tabbed-list', false); });
    $( '.add-nested' ).click(function(){
      var name = $(this).attr('name');
      var prefix = name.replace('-ADD', '');
      var target = '#' + prefix + '-LIST';
      addForm(prefix, target, true);
    });
  });
  </script>
{% endblock javascript %}

