{% extends "post_generator/base.html" %}
{% load custom_filters %}

{% block title %}{{ post_title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
{% endblock css %}

{% block content %}
<div class="main-container">
<h1><a href="{{ post.link }}" target="_blank">{{ post_title }}</a></h1>
<span>Date: {{ post.pub_date }}</span>
<button><a href="{% url 'post_generator:post_manage' post.id %}">Edit This Post</a></button>
<br />

{% for block in blocks_pretab %}
  {% if block|class_name == 'Image' %}
  [caption id="attachment_{{ block.wordpress_image_id }}" align="aligncenter" width="{{ block.width }}"]<br />
  <a href="{{ block.link }}"><img class="size-full wp-image-{{ block.wordpress_image_id }}" src="{{ block.link }}" width="{{ block.width }}" height="{{ block.height }}" /></a><br />
  {% for lang in languages %}
    {% if lang.name == 'somali' %}({% endif %}{{ block|dict_val:lang.name }}{% if lang.name == 'somali' %}){% endif %}
  {% endfor %}[/caption]
  {% endif %}
<br />
{% endfor %}
 

<div class="tabs">
<ul>
{% for lang in languages %}
  <li><a href="#tabs-{{ lang.name }}">{{ lang.display_name }}</a></li>
{% endfor %}
</ul>

{% for lang in languages %}
<div id="tabs-{{ lang.name }}">
{% for block in blocks_tabbed %}
{% with lang_name=lang.name %}
  {% if block|class_name == 'Image' %}
  [caption id="attachment_{{ block.wordpress_image_id }}" align="aligncenter" width="{{ block.width }}"]<br />
  <a href="{{ block.link }}"><img class="size-full wp-image-{{ block.wordpress_image_id }}" src="{{ block.link }}" width="{{ block.width }}" height="{{ block.height }}" /></a><br />
  {{ block|dict_val:lang_name }}[/caption]
  <br />
  {% elif block|class_name == 'Video' %}
  <br />
  <iframe src="{{ block.link }}" frameborder="0" width="{{ block.width }}" height="{{ block.height }}"></iframe>
  {% endif %}
  {% if block|class_name == 'TextBlock' %}
  <p>{{ block|dict_val:lang_name }}</p>
  {% elif block|class_name == 'IngredientBlock' %}
  <h3>{{ block.header|dict_val:lang_name|title }} {{ headers.ingredients|dict_val:lang_name }}:</h3>
  <ul>
  {% for ing in block.ingredient_set.all %}
    <li>
      {{ ing.quantity }}
      
      {% if ing.quantity_units %}
        {{ ing.quantity_units|dict_val:lang_name }}
      {% endif %}

      {% if ing.intl %}
        ({{ ing.intl }} {{ ing.intl_units|dict_val:lang_name }})
      {% endif %}
      
      {% if ing.size %}
        {{ ing.size|dict_val:lang_name }}
      {% endif %}
      
      {{ ing.name|dict_val:lang_name }}
      
      {% if ing.prep_style and ing.prep_style|dict_val:lang_name %}
        ({{ ing.prep_style|dict_val:lang_name }})
      {% endif %}
      
      {% if ing|dict_val:lang_name %}
        - {{ ing|dict_val:lang_name }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  <br />
  {% elif block|class_name == 'DirectionBlock' %}
  <h3>{{ block.header|dict_val:lang_name|title }} {{ headers.directions|dict_val:lang_name }}:</h3>
  <ol>
  {% for dir in block.direction_set.all %}
    <li>{{ dir|dict_val:lang_name }}</li>
  {% endfor %}
  </ol>
  <br />
  {% endif %}

{% endwith %}
{% endfor %}
</div>
{% endfor %}
</div>
</div>
{% endblock content %}

{% block javascript_library %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui.min.js"></script>
{% endblock javascript_library %}

{% block javascript %}
  <script>
  $(function() {
    // jQuery UI elements initialized
    //          - tabs for languages

    $( ".tabs" ).tabs();
  });
  </script>
{% endblock javascript %}
 
