{% extends "post_generator/base.html" %}
{% block title %}Dictionary Item List - Xawaash Post Generator{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.min.css">
  <style>
    #dictionary-table thead tr th, #dictionary-table tbody tr td {
      padding: 2px;
      line-height: 1.5em;
    }
    .ui-button-text-only .ui-button-text {
      padding: 2px 8px;
      font-size: 8pt;
    }
  </style>
{% endblock css %}

{% block content %}
{% if dictionary_items %}
    <table id="dictionary-table" class="display" style="font-size: 10pt;" cellspacing="0">
      <thead>
        <tr>
          <th>Del</th>
          <th>English</th>
          <th>Somali</th>
          <th>French</th>
          <th>Arabic</th>
          <th>Image Link</th>
          <th>Recipe Link</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
    {% for item in dictionary_items %}
      <tr>
        <td><button class="delete-item" value="{{ item.id }}">X</button></td>
        <td>
          {{ item.english }}
          {% if item.english_plural %}<br>(p.) {{ item.english_plural }}{% endif %}
        </td>
        <td>{{ item.somali }}</td>
        <td>
          {% if item.french %}(m.) {{ item.french }} {% endif %}
          {% if item.french_feminine %}(f.) {{ item.french_feminine }}{% endif %}
          {% if item.french_masculine_plural or item.french_feminine_plural %}<br>
            {% if item.french_masculine_plural %}(m.p.) {{ item.french_masculine_plural }} {% endif %}
            {% if item.french_feminine_plural %}(f.p.) {{ item.french_feminine_plural }}{% endif %}
          {% endif %}
        </td>
        <td>{{ item.arabic }}</td>
        <td>{% if item.image %}<a href="{{ item.image }}">Image</a>{% endif %}</td>
        <td>{% if item.link %}<a href="{{ item.link }}">Post</a>{% endif %}</td>
        <td><a href="{% url 'post_generator:dictionary_item_manage' item.id %}"><button class="edit-item">Edit</button></a></td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No dictionary items are available.</p>
{% endif %}
{% endblock content %}

{% block javascript_library %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.dataTables.min.js"></script>
{% endblock javascript_library %}

{% block javascript %}
  <script>
  $(function(){
    $('#dictionary-table').dataTable({
      "order": [ 1, 'asc' ],
      "fnDrawCallback": drawCallback()
    });
    function drawCallback(){
      $(':button').button();
      $('.delete-item').click(function(ev){
        var item_id = $(this).val();
        var item_row = $(this).closest('tr').get(0);
        ev.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url 'post_generator:dictionary_item_delete' %}",
          data: { 'item_id': item_id },
          success: function(){
            $('#dictionary-table').DataTable().row(item_row).remove().draw();
          }
        });
      });
    }
  });
  </script>
{% endblock javascript %}
