{% extends "post_generator/base.html" %}
{% block title %}Post List - Xawaash Post Generator{% endblock %}

{% block content %}
{% if posts %}
    <table>
    {% for post in posts %}
      <tr><td><a href="{% url 'post_generator:post_view' post.id %}"><img style="border: 1px solid gray; border-radius: 3px;" width="200" height="132" src="{{ post.featured_image }}" alt="{{ post.title.english|title }}" title="{{ post.title.english|title }}" /></a></td>
            <td><a href="{% url 'post_generator:post_view' post.id %}">{{ post.title.english|title }}<br />{{ post.pub_date }}</a></td>
      </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}
